@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@font-face{font-family:'Youandi'; src: url(../font/fontYouandiModernTR.woff) format("woff"), url(../font/fontYouandiModernTR.ttf) format("truetype");}
*{margin:0; padding:0; box-sizing:border-box;}
a{text-decoration:none;}
li{list-style:none;}
input, select, textarea{border:0; outline:none;}
body{font-family:'Nanum Gothic', sans-serif; color:#555; font-family: 'Youandi';}
body, table{font-size:12px; background-color:#f3f3f3;}

.main_wrap{}

/** 헤더 영역 **/
.header_whole_wrap{width:1100px; margin:0 auto; height:500px; position:relative; height:120px;}

/* LNB */
.haeder_lnb_wrap{width:100%; height:40px;}
.header_lnb{overflow:hidden;}
.header_lnb li{float:left; padding-left:10px;}
.header_logo{position:absolute; top:35px; left:calc(50% - 103px);}

.header_lnb{overflow:hidden; position:absolute; top:10px; right:0;}
.header_lnb li{float:left; position:relative;}
/*
.header_lnb li:after{content:''; position:absolute; width:1px; top:2px; bottom:2px; right:2px; background-color:#d8d8d8;}
*/
.header_lnb li:last-child:after{display:none;}
.header_lnb a{color:#8e8e8e; padding:0 10px;}
.header_lnb a:hover{color:#be1521;}

/* GNB */
.header_gnb_wrap{height:60px; border-bottom:1px solid #ebebeb;}
.header_gnb{display:flex; justify-content:space-between; margin:0 auto; padding:0;}
.header_gnb a{color:#000;}
.header_gnb a:hover{color:#be1521;}

/* 검색 버튼 */
.header_search{width:300px; height:100px; padding-top:10px;}

.header_search img{width:20px; height:20px; vertical-align:bottom;}
.header_search input{background-color:#eee; border:1px solid #d5d5d5;}

/* QUICK */
.quick_menu_wrap{}

/* 왼쪽 퀵 */
.quick_menu_left{position:fixed; left:0; top:150px; width:350px;}
.quick_menu_left img{width:40px;}
.quick_menu_left a{color:#000;}

/* 오른쪽 퀵 */
.quick_menu_right{position:fixed; right:0; top:150px; width:350px; display:flex;}
.quick_menu_right li{height:30px; line-height:30px;}
.quick_menu_right a{color:#000;}





/** 메인 비주얼 영역 **/
.main_visual_wrap{background:url(../images/bg_section_2.png); height:1050px; width:100%;}
.main_visual_area{width:1100px; margin:0 auto;}
.main_visual_area img{width:100%;}
.main_card_img2{height:500px; background-repeat:no-repeat; background-position:left top;}
.main_card_set2{display:flex; justify-content:space-around;}






/** 메인 컨텐츠 영역 **/
.main_content_wrap{}
.main_content_area{border:1px solid aquamarine;}

/* 컨텐츠 첫번째 */
.main_content_first{width:1100px; max-width:100%; margin:0 auto;}
.main_card_set{display:flex; justify-content:space-around;}
.main_card_set li{width:25%; padding:10px 0;}
.main_card_set li a{display:block;}
.main_card_set li:hover .main_card_txt{display:block;}
.main_card_img{width:73%; height:316px; margin:0 auto; position:relative; overflow:hidden;}


.main_card_txt{position:absolute; top:0; bottom:0; left:0%; right:0%; color:#000; display:none; background-color:rgba(255,255,255,0.5); border:3px solid #555; border-radius:10px; padding:50px 0 0 20px;}
.main_card_cost_m{padding-top:10px;}
.main_card_txt b{font-size:14px;}
.main_card_txt p{font-size:16px; font-weight:900;}
.main_card_txt li{width:100%; text-align:left;}


.main_card_im{background-repeat:no-repeat;}


/* 컨텐츠 두번째 */
.main_content_second{}
.main_gallery_wrap{width:1100px; max-width:100%; margin:0 auto;}
.main_content_second img{width:100%;}
.main_content_second h3{text-align:center;}
.main_content_gallery{display:flex; justify-content:space-between; padding:20px 0;}
.main_content_gallery li{width:32%;}
.main_content_map_box{background: linear-gradient(to bottom,#3c3c46 ,#48484d,#3f3d42);}
.main_map_wrap{width:1100px; max-width:100%; margin:0 auto; padding:50px 0;}

/* 컨텐츠 세번째 */
.main_content_third{width:1100px; max-width:100%; margin:0 auto;}

/* 유튜브 영역 */

/** 고객센터 영역 **/
.main_costomer_wrap{}
.main_customer_cinquiry{width:1100px; margin:0 auto; display:flex; justify-content:space-between; text-align:center;}
.customer_wrap{width:100%; padding:100px 0;}
.customer_wrap dt{padding:5px;}


/** 푸터 영역 **/
.footer_wrap{text-align:center; background-color:#efefef;}
.footer_section_area{padding:70px;}


/***** 미디어 쿼리 *****/
@media all and (max-width:767px){

    /** 헤더 영역 **/
.header_whole_wrap{max-width:100%; margin:0 auto; height:500px; position:relative; height:120px;}

/* LNB */
.haeder_lnb_wrap{width:100%; height:40px;}
.header_lnb{overflow:hidden;}
.header_lnb li{float:left; padding-left:10px;}
.header_logo{position:absolute; top:35px; left:calc(50% - 103px);}

.header_lnb{overflow:hidden; position:absolute; top:10px; right:0;}
.header_lnb li{float:left; position:relative;}
/*
.header_lnb li:after{content:''; position:absolute; width:1px; top:2px; bottom:2px; right:2px; background-color:#d8d8d8;}
*/
.header_lnb li:last-child:after{display:none;}
.header_lnb a{color:#8e8e8e; padding:0 10px;}
    
/* GNB */
.header_gnb_wrap{height:60px; border-bottom:1px solid #ebebeb;}
.header_gnb{display:flex; justify-content:space-between; margin:0 auto; padding:0;}
.header_gnb a{color:#000;}
.header_gnb a:hover{color:#be1521;}
.header_gnb li:nth-last-child(3){padding-right:300px;}
    
/** 메인 비주얼 영역 **/
.main_visual_wrap{background:url(../images/bg_section_2.png); height:1050px; width:100%; background-size:cover; background-position: }
.main_visual_area{width:100%;}
.main_visual_area img{width:100%;}
.main_card_img2{height:500px; background-repeat:no-repeat; background-position:left top;}
.main_card_set2{display:flex; justify-content:space-around;}

/** 메인 컨텐츠 영역 **/
.main_content_wrap{}
.main_content_area{border:1px solid aquamarine;}

/* 컨텐츠 첫번째 */
.main_content_first{width:1100px; max-width:100%; margin:0 auto;}
.main_card_set{display:flex; justify-content:space-around;}
.main_card_set li{width:25%; padding:10px 0;}
.main_card_set li a{display:block;}
.main_card_set li:hover .main_card_txt{display:block;}
.main_card_img{width:100%; height:316px; margin:0 auto; position:relative; overflow:hidden;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}/*미디어 쿼리*/






